.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  color: white;
  height: 80px;
}
.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand img {
  height: 30px;
}
.navbar-toggle svg {
  height: 30px;
}

@media screen and (max-width: 768px) {
  .navbar-collapse {
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
    background: #000;
  }
  .navbar-nav {
    text-align: center;
    padding: 10px;
  }
  .nav-item {
    padding: 10px 0;
    border: 1px solid wheat;
    margin-bottom: 10px;
  }
  .dropdown-toggle {
    margin-bottom: 20px;
  }
  .dropdown-item {
    /* border: 1px solid wheat; */
    padding: 5px 0;
  }
}
