.navbar {
  background-color: rgba(0, 0, 0, 0.863);
  height: 80px;
}
.nav_link {
  color: var(--text-light-color);
}

@media screen and (max-width: 768px) {
  .navbar_nav {
    background-color: #212529;
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
  }
}
