/* base satyle */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400,800&family=Poppins:wght@400;500;700&display=swap");
:root {
  --main-dark-bg: #121212;
  --main-light-bg: #fffcf2;
  --second-light-bg: #faf2d8;
  --main-color: #bd9a3c;
  --text-light-color: #e6e6e6;
  --text-dark-color: #616161;
  --text-main-color: #cf820e;
  --text-second-color: #e07722;
  --btn-link-color: #cf820e;
  --font-family-main: "Poppins", sans-serif;
  --font-family-head: "Montserrat", sans-serif;
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: var(--font-family-main);
  font-weight: 400;
}
